::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(51, 51, 51);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(195, 0, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(217, 94, 255);
}

::placeholder {
  color: rgba(255, 255, 240, 0.493);
}

button {
  margin: 3px;
  color: white;
  width: 80%;
  background-color: rgb(139, 5, 180);
  border: none;
  border-radius: 12px;
  vertical-align: middle;
  transition-duration: 0.1s;
}

button:hover {
  background-color: rgb(116, 66, 156);
  transform: scale(1.1);
}

body {
  padding: 20px;
  padding-top: 5px;
  background-color: rgb(51, 51, 51);
  border: none;
  min-width: 200px; /* your desired width */
  max-width: 100%;
  min-height: 500px; /* your desired width */
  max-height: 100%;
  vertical-align: middle;
}

div.container {
  margin: 0px;
  color: rgb(255, 255, 255);
  padding: 15px;
  padding-bottom: 20px;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(67, 64, 71);
}

.container:hover {
  transform: scale(1.05);
}

div.header {
  padding: 5px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(67, 64, 71);
}

h3 {
  color: rgb(255, 255, 255);
}

h4.top {
  position: relative;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  text-align: center;
}
h4.bottom {
  position: relative;
  padding: 0px;
  color: rgb(174, 0, 255);
  vertical-align: middle;
  text-align: center;
}

h4.Newbottom {
  position: relative;
  padding: 0px;
  color: rgb(216, 1, 245);
  vertical-align: middle;
  text-align: center;
  transform: scale(1.15);
  transition: 1s;
}

.bottom:hover {
  transform: scale(1.1);
}

.confirmer {
  padding: 10px;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  background-color: rgb(67, 64, 71);
}

h1 {
  vertical-align: middle;
  color: white;
}

input {
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(139, 5, 180);
  color: white;
  width: 100%;
}

label {
  text-align: center;
  color: white;
}

select {
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(231, 231, 231);
  color: rgb(67, 64, 71);
  width: 100%;
}
.hiddenText {
  visibility: hidden;
  color: rgb(67, 64, 71);
  transition: 0.5s;
}

.popupText {
  visibility: visible;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.hidden {
  text-align: center;
  visibility: hidden;
  vertical-align: middle;
  max-width: 70%;
  transition: 0.5s;
}

/*Confirmation popup*/
.popup {
  padding: 0px;
  vertical-align: middle;
  position: relative;
  visibility: visible;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 0.2s;
  background-color: rgba(0, 255, 55, 0.63);
}

.popupContainer {
  text-align: center;
}

#image {
  border-style: solid;
  border-width: 2px;
  border-radius: 40px;
  border-color: rgb(51, 51, 51);
  box-shadow: 10px;
}

img.flippinButton:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
